[user]
  name = Yuki Chino
  email = yuki.chino@tabist.com

[alias]
    s = status
    c = commit -m 
    co = checkout
    cob = checkout -b
    del = branch -D
    reset = reset HEAD~ --soft
    stash = stash -u
    stashl = stash list
    stasha = stash apply stash@{0}
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -10
    alias = config --get-regexp ^alias